html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

.seccion1{
    display: flex;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    background-image: url('../img/Fondos/Imagen2.jpg');
    background-size: cover;
}

.seccion1 .logo img{
    border-radius: 25%;
    width: 250px;
}

.cuadro{
    margin: 75px 30px;
    width: 450px;
    height: 150px;
    text-align: center;
    background-color: rgb(56, 55, 55);
    color: aliceblue;
    border-radius: 50%;
}

.fondoA{
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 183, 48);
    color: aliceblue;
    text-align: center;
    font-size: 24px;
}

.fondoR{
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 79, 48);
    color: aliceblue;
    text-align: justify;
    font-size: 24px;
}

.subtitulo{
    margin: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: rgb(70, 69, 69);
    color: aliceblue;
    text-align: center;
}

.article-box{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url('../Img/Fondos/Imagen1.jpg');
    background-size: cover;
}

/* .juego{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/Imagen1.jpg');
    background-size: cover;
    color: aliceblue;
}
 */

.boton{
    text-decoration: none;
    font-size: 1em;
    color: rgb(118,109,244);
    padding: 10px 30px;
    border: 2px solid rgb(118,109,244);
    position: relative;
    transition: .5s;
}

.boton::before,
.boton::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: .5s;
}

.boton::before{
    top: -10px;
    left: -10px;
    border-width: 2px 0 0 2px;
}

.boton::after{
    bottom: -10px;
    right: -10px;
    border-width: 0 2px 2px 0;
}

.boton:hover::before,
.boton:hover::after{
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}